# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/

# Browser profiles
.chrome_profile/
camoufox_profile/

# Data
data/funcaptcha/

# Logs & DB
*.log
*.db

# Sessions
.sessions/
gh-check/target/
gh-check/data/*.txt
.claude/
.theme
cf-email-dashboard/node_modules/
cf-email-dashboard/.next/
.vscode/
cf-email-dashboard/.env.local
